

.accordion > .titled-pane {
	-fx-text-fill:white;
	-fx-padding: 0.0 0.0 10.0 0.0;
}

.accordion > .titled-pane > .title {
	-fx-background-color: linear-gradient(to right, slategrey, transparent);
}

.accordion > .titled-pane:expanded > .title {
	-fx-background-color: linear-gradient(to right, steelblue, transparent);
}

.accordion > .titled-pane > .title > .arrow-button .arrow {
	-fx-shape: null;
	-fx-background-color: null;
	-fx-padding: -2px -3px 12px 12px;
	-fx-background-image: url("../image/expand.png");
}

.accordion > .titled-pane:expanded > .title > .arrow-button .arrow {
	-fx-shape: null;
	-fx-background-color: null;
	-fx-padding: -2px -3px 12px 12px;
	-fx-rotate: null;
	-fx-background-image: url("../image/collect.png");
}

.accordion > .titled-pane > .content {
	-fx-background-color: transparent;
	-fx-padding: 0.0 0.0 -10.0 0.0;
	-fx-border-color: linear-gradient(to right, steelblue, transparent);
}