
.menu-button {
	-fx-base:steelblue;
}

.menu-button > .label {
	-fx-text-fill:white;
}

.menu-button > .arrow-button .arrow {
	-fx-background-color: white;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}