

.split-menu-button {
	-fx-base:steelblue;
	-fx-background-radius:0.0 8.0 8.0 0.0;
	-fx-border-radius:0.0 8.0 8.0 0.0;
}

.split-menu-button > .label {
	-fx-text-fill:white;
}

.split-menu-button > .arrow-button .arrow {
	-fx-background-color: white;
}

.split-menu-button > .arrow-button {
	-fx-background-radius:0.0 8.0 8.0 0.0;
	-fx-border-radius:0.0 8.0 8.0 0.0;
}